<div class="section--hero contact__map">
  <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCslNOsYryyNySA_e4fGX9ALTrSgrqY3GY
        &q=Artevelde,Mariakerke,Gent" allowfullscreen>
  </iframe>
</div>
<div class="section section--yellow">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 contact__details">
        <h1 class="contact--title">Get in touch.</h1>
        <p>Industrieweg 232</p>
        <p>9030 Gent-Mariakerke</p>
        <p>Belgium</p>
        <p>09 362 34 19</p>
        <div class="contact__social social-buttons d-flex">
          <a href="" class="social-buttons__item">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="social-buttons__item">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="social-buttons__item">
            <i class="fab fa-snapchat-ghost"></i>
          </a>
          <a href="" class="social-buttons__item">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h1 class="contact--title">Email us.</h1>
        <form action="" class="">
          <div class="form__group">
            <label for="name" class="form__label">Your name</label>
            <input type="text" name="name" class="form__input">
          </div>
          <div class="form__group">
            <label for="email" class="form__label">Email address</label>
            <input type="text" name="email" class="form__input">
          </div>
          <div class="form__group">
            <label for="phone" class="form__label">Your phonenumber</label>
            <input type="text" name="phone" class="form__input">
          </div>
          <div class="form__group">
            <label for="message" class="form__label">Your message</label>
            <textarea name="message" rows="10" class="form__input form__textarea"></textarea>
          </div>
          <button class="btn--primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>