<div class="sidenav">
  <div class="sidenav__toolbar">
    <button class="btn--sidenav" (click)="close()">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill: none;
            stroke: #FFFFFF;
            stroke-width: 12;
            stroke-miterlimit: 10;
          }
        </style>
        <line class="st0" x1="4.3" y1="4.3" x2="195.6" y2="195.6" />
        <line class="st0" x1="4.2" y1="195.7" x2="195.6" y2="4.3" />
      </svg>
    </button>
  </div>
  <div class="sidenav__menu">
    <ul class="nav">
      <li>
          <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
          <a routerLink="/tickets" routerLinkActive="active">Tickets</a>
      </li>
      <li>
          <a routerLink="/account" routerLinkActive="active">Account</a>
      </li>
      <li>
          <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
    <div class="social-buttons d-flex mt-5">
      <a href="" class="social-buttons__item">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="social-buttons__item">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="social-buttons__item">
        <i class="fab fa-snapchat-ghost"></i>
      </a>
      <a href="" class="social-buttons__item">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
</div>