.contact__map {
  iframe {
    display: block;
    width: 100%;
    height: 77vh;
  }
}
.contact--title {
  font-size: 2.5rem;
  margin-bottom: 3rem !important;
}
.contact__details {
  p {
    font-size: 1.5rem;
    margin: 0;
  }
}
.contact__social {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

mat-tab-label{
  color: red !important;
}