<div class="section section--hero section--yellow">
  <div class="container">
    <div class="row landing mt-5">
      <div class="col-12">
        <h1>Buy and sell your festivals tickets.</h1>
        <a routerLink="/festivals" class="btn btn--secondary mt-4">Browse festivals</a>
      </div>
      <div class="col-12 col-md-6"></div>
    </div>
  </div>
</div>
<div class="section--yellow">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-8 col-lg-12 divider">
        <h1>Trustfactor</h1>
        <p>Because we work closely together with festivals themselves we can guarantee the validity of your ticket.</p>
      </div>
      <div class="col-12 col-sm-10 col-md-8 col-lg-12 divider">
        <h1>Ticket swapping,
          <br>without worries.</h1>
        <p>Because we work closely together with festivals themselves we can guarantee the validity of your ticket.</p>
      </div>
    </div>
  </div>
</div>