<header class="flex-vert">
  <div class="container">
    <div class="row d-none d-md-flex header__large">
      <div class="col-4 logo">
        <a routerLink="/home">
          <img src="../../../../assets/img/logo.svg" alt="">
          <span>Swappit</span>
          <span>Ticket swapping</span>
        </a>
      </div>
      <div class="col-8 ">
        <ul class="d-flex justify-content-end ">
          <li>
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li>
            <a routerLink="/tickets" routerLinkActive="active">Tickets</a>
          </li>
          <li>
            <a routerLink="/account" routerLinkActive="active">Account</a>
          </li>
          <li>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
          <li>
            <a (click)="cartSideNavOpen()">
              <i class="fas fa-shopping-bag"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row d-flex d-md-none header__small">
      <div class="col-12">
        <ul class="d-flex justify-content-between">
          <li class="d-flex align-items-center">
            <button class="btn--sidenav" (click)="menuSideNavOpen()">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                <style type="text/css">
                  .st0 {
                    fill: none;
                    stroke: #FFFFFF;
                    stroke-width: 12;
                    stroke-miterlimit: 10;
                  }
                </style>
                <line class="st0" x1="0" y1="6.9" x2="200" y2="6.9" />
                <line class="st0" x1="0" y1="100.1" x2="200" y2="100.1" />
                <line class="st0" x1="0" y1="193.4" x2="200" y2="193.4" />
              </svg>
            </button>
          </li>
          <li class="logo">
            <a routerLink="/home">
              <img src="../../../../assets/img/logo.svg" alt="">
              <span>Swappit</span>
            </a>
          </li>
          <li class="d-flex align-items-center">
            <a (click)="cartSideNavOpen()">
              <i class="fas fa-shopping-bag"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>