header {
  height: 23vh;
  font-family: $headings-font-family;
  background-color: $color-yellow;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
    }
  }
}
.header__large {
  ul {
    li {
      margin-left: 2rem;
      a {
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        color: $color-black;
        position: relative;
        &:before {
          height: 3px;
          background-color: transparent;
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          transition: all .15s ease-out;
        }
        &:hover:before {
            background-color: $color-black;
        }
      }
      .active {
        &:before{
          background-color: $color-black;
        }
      }
    }
  }
}
.logo {
  font-family: $headings-font-family;
  a {
    text-decoration: none;
    color: $color-black;
    span {
      &:nth-of-type(1) {
        font-size: 1.8rem;
        font-weight: 700;
      }
      &:nth-of-type(2) {
        padding-top: 0.2rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.22rem;
        font-size: 0.7rem;
        display: block;
      }
    }
  }
  img {
    width: 1.5rem;
  }
}
.flex-vert {
  display: flex;
  align-items: center;
}
.header__small {
  ul {
    padding: 0;
    li {

    }
  }
}
@media (max-width: 768px) {
  .header__small {
    li{
      &:last-of-type() {
        font-size: 1.5rem;
      }
    }
  }
}