<div class="footer_container">
  <div class="footer_contact">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 logo logo--footer">
          <a href="">
            <img src="../../../../assets/img/logo.svg" alt="">
            <span>Swappit</span>
            <span>Ticket swapping</span>
          </a>
        </div>
        <div class="col-12 col-md-8">
          <div class="social-buttons d-flex justify-content-center justify-content-md-end">
            <a href="" class="social-buttons__item">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="social-buttons__item">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="social-buttons__item">
              <i class="fab fa-snapchat-ghost"></i>
            </a>
            <a href="" class="social-buttons__item">
              <i class="fab fa-instagram"></i>
            </a>
          </div>

          <div class="footer_contact_details text-center text-md-right">
            <p class="footer_contact_details_section">Email us at info@swappit.com</p>
            <p>Call us: 09 362 81 20</p>
            <p class="footer_contact_details_section">Industrieweg 232</p>
            <p>9030 Gent, Mariakerke</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer_copyright">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>&copy; Swappit 2018</p>
        </div>
      </div>
    </div>
  </div>
</div>